{% extends 'base.html' %}

{% block title %}
<title>게시글 수정 - {{article.pk}}. {{article.title}}</title>
{% endblock title %}

{% block content %}

<form action='{% if article %}{% url "boards:updateArticle" article.pk %}{% else %}{% url "boards:createArticle" %}{% endif %}' method="post" class="form-horizontal">
{% csrf_token %}
<input type="hidden" name="action" value="{% if article %}update{% else %}create{% endif %}">
<table class="table table-striped table-bordered">
    <tr>
        <th>번호</th>
        <td>{{article.pk}}</td>
    </tr>
    <tr>
        <th>제목</th>
        <td><input type="text" class="form-control" name="title" value="{{article.title}}"></td>
    </tr>
    <tr>
        <th>내용</th>
        <td><textarea rows="10" class="form-control" name="content">{{article.content | linebreaksbr }}</textarea></td>
    </tr>
    {% comment %} <tr>
        <th>작성자</th>
        <td><input type="text" class="form-control" name="author" value="{{article.author}}"></td>
    </tr> {% endcomment %}
    <tr>
        <th>작성날짜</th>
        <td>{{article.created_dt | date:"Y-m-d H:i"}}</td>
    </tr>
</table>
<button class="btn btn-primary" type="submit">게시글 저장</button>
</form>
{% endblock content %}